.section_designer {
	background: url('../images/bg-blog.jpg') no-repeat center / cover;
	height: 350px;
	position: relative;
}

.section_designer_wrapper {
	margin: 120px auto;
}

.content_designer {
	position: absolute;
	display: none;
	text-align: center;
	top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   cursor: pointer;
   transition: .5s; 
}

.content_info_designer p, .content_info_designer h1 {
	color: white;
}

.content_info_designer {
	position: absolute; 
	top: 50%; 
	left: 50%;
	transform: translate(-50%,-50%);
}

.content_designer:hover { 
	background-color: rgba(0, 0, 0, .85); 
}

.section_designer:hover .content_designer{
   display: block;
}

.container_about_me {
	display: flex;
	flex-wrap: wrap;
}

.about_me_background {
	width: 50%;
	background: url('../images/about_me.jpg') no-repeat center / cover;
	overflow: auto;
}

.about_me_info {
	background-color: #f5f5f5;
	overflow: auto;
	width: 50%;
}

.about_me_wrapper {
	max-width: 452px;
	margin: 130px auto;
}

.about_me_info p {
	margin-top: 30px;
	margin-bottom: 30px;
}

.order_project {
	background: none;
}

.primary_btn {
	margin-top: 0;
	padding: 20px 35px;
}