.contact_info {
	background-color: #f5f5f5;
	overflow: auto;
}

.contact_info_wrapper {
	max-width: 85%;
	margin: 100px auto;
}

.contactForms {
	display: flex;
	justify-content: space-between;
}

.contact_info_description {
	max-width: 368px;
}

.contact_info {
	margin-bottom: 10px;
}

.container_form {
	width: 58%;
}

.container_form button {
	margin-top: 25px;
}
